
body {
    background-color: gray;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .2rem;
}


.nav-items {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 100%;
    margin-right: .5rem;
}


.nav-link {
    padding: 0 .5rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
    font-size: .8rem;
}

.nav-link:last-child {
    border: none;
}

.nav-link.login {
    border: none;
}

.bg-green {
    background-color: green;
    padding: .7rem;
    color: white;
    font-weight: bold;
}


.nav-brand {
    color: red;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 100%;
    text-align: center;
}


.align-end {
    text-align: end;
    white-space: nowrap;
}