
body {
    background-color: gray;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-con {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: inherit;
    padding: .2rem;
    /* flex: 0 0 10%; */
}


.nav-link {
    padding: 0 .5rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
}

.nav-link:last-child {
    border: none;
}

.nav-link.login {
    border: none;
    font-weight: 300;
    font-size: .9rem;
}


.nav-brand {
    color: red;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
}

.nav-button {
    padding: .5rem 1.5rem;
    background-color: green;
    color: white;
    font-size: .9rem;
    border: 1px solid green;
    margin: 0 .5rem;
}